*.pyc
.DS_store
*.dat
*.txt
*.log
*.kat
*.pdf
*.out
*.bak
*.bck
*.bkp
*.gnu
*.p
*.log
*.m
*.pickle
*.mat

.ipynb_checkpoints
build
dist
bin
MANIFEST

_version.py
conda_pkg/packages
conda_pkg/.index.json
