<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    </head>
    <body>
    
        <div>
            <h1>FINESSE Test {{ view_test_id }} View</h1>
            
            <a href="/finesse/view/{{view_test_id}}/build.log">build.log</a> | <a href="/finesse/view/{{view_test_id}}/make.log">make.log</a>
        </div>
    </body>
</html>