<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    </head>
    <body>
    
        <div>
            <h1>FINESSE Test - {{kat}} history</h1>
            <table id="tblHistory"> 
                <thead>
                    <td>Test ID</td>
                    <td>Commit ID</td>
                    <td>Commit Date</td>
                    <td>Max rel Diff</td>
                    <td>Run time [s]</td>
                </thead>
                {% for item in data%}
                <tr>
                    <td><a href="/finesse/view/{{item[0]}}/">{{item[0]}}</a></td>
                    <td><a href="https://git.ligo.org/finesse/finesse/commit/{{item[1]}}/">{{item[1]}}</a></td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    <td>{{item[4]}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
    <script type="text/JavaScript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/JavaScript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    
    <script type="text/JavaScript">
        $(document).ready(function(){
                    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                        "num-html-pre": function ( a ) {
                            var x = String(a).replace( /<[\s\S]*?>/g, "" );
                            return parseFloat( x );
                        },
                     
                        "num-html-asc": function ( a, b ) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },
                     
                        "num-html-desc": function ( a, b ) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    } );
                    
                    gtable = $('#tblHistory').dataTable({
                        "iDisplayLength":250,
                        "aoColumns": [
                            { "sType": "num-html" },
                            null,
                            { "sType": "date" },
                            { "sType": "numeric" },
                            { "sType": "numeric" }
                        ]
                    } );
                
            });
    </script>
</html>