<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
        
        <style type="text/css">
            SELECT, INPUT[type="text"] {
                width: 300px;
                box-sizing: border-box;
            }
            SECTION {
                width: 700px;
                padding: 8px;
                overflow: auto;
            }
            SECTION > DIV {
                float: left;
                padding: 4px;
            }
            SECTION > DIV + DIV {
                width: 40px;
                text-align: center;
            }
        </style>
    </head>
    <body>
    
        <div>
            <h1>FINESSE Test</h1>
            
            <div class="current_test">
                <h2>Current running test</h2>
                Running test for commit: <span id="txtGitVersion"></span><br>
                Test status: <span id="txtStatus"></span>
                <div id="current_test_progress" style="width:500px;"></div>
                <input type="button" value="Refresh" id="btnGetProgress"/>
                <input type="button" value="Cancel" id="btnCancelCurrent"/>
            </div>
            
            <div class="queued_tests">
                <h2>Queued Tests</h2>
                <input type="button" value="Refresh queued tests" id="btnGetTests"/>
                <table id="tblQueuedTests" border="1" style="width:500px;">
                    <col width="10%">
                    <col width="50%">
                    <col width="20%">
                    <col width="20%">
                    <tr>
                        <td width="">Test ID</td>
                        <td>Queue time</td>
                        <td>Git Commit</td>
                        <td>Cancel Test</td>
                    </tr>
                </table>
            </div>
            
            
            <div class="new_test">
                <h2>Start new test</h2>
                
                <select id="branch_list" style="width: 200px;">
                    <option text="develop" value="develop"/>
                </select>
                <br/>
                <select style="float:left;vertical-align: top; height:210px;width:200px;" multiple="multiple" size="10" id="commit_list" style="width: 300px;">
                </select>
                <div style="float:left; vertical-align: display:block; width:450px; overflow:auto; padding:5px; margin-left:10px; height:200px; border: 1px solid #aaa;">
                    <h4 style="padding:0px; margin:0px;" id="gitDescriptionHdr">Git log description</h4>
                    <p id="gitDescriptionTxt">[Select item to see commit message]</p>
                </div>
                <div style="clear:both;">&nbsp;</div>
                <section class="container" >
                    <div>
                        <div>Files to run</div>
                        <select id="leftValues" size="12" multiple></select>
                    </div>
                    <div style="padding-top:100px;">
                        <input type="button" id="btnLeft" value="&lt;&lt;" />
                        <input type="button" id="btnRight" value="&gt;&gt;" />
                    </div>
                    <div>
                        <div style="width: 100px;">Files available</div>
                        <select id="rightValues" size="12" multiple>
                        <input type="text" id="txtKatSearch" />
                        </select>
                    </div>
                </section>
                <div style="clear:both;">&nbsp;</div>
                <input type="checkbox" id="chkNoBuild" />Use previously built kat (Will built if it can't find any previous kats of the requested version)<br>
                <input type="button" value="Refresh branches and logs" id="btnGetLogs"/>
                <input type="button" value="Start new FINESSSE test" id="btnStartTest"/>
            </div>
            
            <div class="prev_test">
                <h2>Previous Tests</h2>
                <input type="button" value="Refresh" id="btnGetPrevTests"/>
                <div id="tblPrevTests" style="width: 900px;" />
            </div>
        </div>
    
        <script type="text/JavaScript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/JavaScript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

        <script type="text/JavaScript">
        
            var commit_msgs = {};
            
            function sortKatList(list){
                // resort alphabetically the options visible
                var rvals = $(list);
                var opts = rvals.children("option");
                
                opts.sort(function(a, b) {
                   return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
                });
                
                $.each(opts, function(idx, itm) { rvals.append(itm); });
            }
            
            $(document).ready(function(){
                updateBranches();
                getPreviousTests();
                updateKats();
                
                window.setInterval(function(){                
                    updateQueuedTests();
                    updateProgress();
                }, 5000);
                                
            });
            
            $('#txtKatSearch').change(function(){
                
                term = $('#txtKatSearch').val();
                
                term.trim();
                
                match = $("#rightValues span > option");
                match.unwrap();
                    
                if(term.length > 0){
                    match = $("#rightValues :not(:contains('" + term + "'))");
                    match.wrap("<span></span>");
                }
                
                sortKatList("#rightValues");
            });
            
            $("#btnLeft").click(function () {
                var selectedItem = $("#rightValues option:selected");
                $("#leftValues").append(selectedItem);
                sortKatList("#leftValues");
            });

            $("#btnRight").click(function () {
                var selectedItem = $("#leftValues option:selected");
                $("#rightValues").append(selectedItem);
                sortKatList("#rightValues");
            });
            
            $("#commit_list").change(function(){
                vals = $("#commit_list option:selected").val();
                
                if($.isArray(vals)){
                    $("#gitDescriptionHdr").text("Git log: " + vals[0]);
                    $("#gitDescriptionTxt").text(commit_msgs[vals[0]]);
                }else if(vals.length == 40){
                    $("#gitDescriptionHdr").text("Git log: " + vals);
                    $("#gitDescriptionTxt").text(commit_msgs[vals]);
                }else{
                    $("#gitDescriptionHdr").text("Git log: ");
                    $("#gitDescriptionTxt").text("[Select item to see commit message]");
                }
            });

            $('#btnGetPrevTests').click(function(){
                getPreviousTests();
            });
            
            $( "#current_test_progress" ).progressbar({
              value: false
            });

            $("#btnStartTest").click(function(){
                startNewTest();
            });
            
            $("#btnGetLogs").click(function(){
                $("#branch_list").empty();
                updateBranches();
            });
            
            $("#branch_list").change(function(){
                $("#commit_list").empty();
                $('#commit_list').attr("disabled", true);
                $("#commit_list").append($('<option>', { value: 0, text: "Loading log enteries, please wait..."}));
                updateLogEntries();
            });
            
            $("#btnGetTests").click(function(){
                updateQueuedTests();
            });
            
            $('#btnGetProgress').click(function(){
                updateProgress();
            });
            
            function updateKats(){
                $.ajax({
                    type: "POST",
                    url: "/finesse/get/kats",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        rlist = $('#rightValues')
                        rlist.empty()
                        $('#leftValues').empty()
                        
                        for(var i=0; i < data.kats.length; i++){
                            rlist.append($('<option>', { value: data.kats[i], text: data.values[i]}));
                        }
                    },
                    error: function(o,a,err){
                        alert("Error getting kats : " + err);
                    }
                });
            }
            
            function getPreviousTests() {
                $.ajax({
                    type: "POST",
                    url: "/finesse/get_100_prev_tests",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: buildPreviousTestTable,
                    error: function(o,a,err){
                        alert("Error getting previous tests : " + err);
                    }
                });
            }
            
            function buildPreviousTestTable(data) {
                
                var tbl = $('#tblPrevTests');
                
                tbl.html('<table cellpadding="0" cellspacing="0" border="0" id="bTable" class="style1 datatable"></table>');
                
                gtable = $('#bTable').dataTable({
                    "bPaginate": true,
                    "sPaginationType": "full_numbers",
                    "bAutoWidth": true,
                    "bLengthChange": true,
                    "aaData": data.tests,
                    "bJQueryUI": true,
                    "aaSorting" : [[0, 'desc']],
                    "fnRowCallback": function (nRow, aData){
                        if(aData.status == "Running"){
                            $(nRow).css({"background-color":"orange"})
                        }else if(aData.status == "ERRORS" || aData.status == "Test Exception"){
                            $(nRow).css({"background-color":"red"})
                        }else if(aData.status == "Not started"){
                            $(nRow).css({"background-color":"gray"})
                        }
                    },
                    "aoColumns": [
                        {
                            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                                console.log(oData["test_id"]);
                                var a = $('<input type="button" style="margin: 0" value="View report"></input>').click(function () {  
                                            window.open("/finesse/view/" + oData["test_id"] +  "/", "_blank");
                                        });
    
                                var b = $('<input type="button" style="margin: 0" value="Rerun test"></input>').click( function () {
                                            $.ajax({
                                              type: "POST",
                                              contentType: "application/json; charset=utf-8",
                                              url: "/finesse/rerun_test_" + oData["test_id"],
                                              success: function () {
                                                updateQueuedTests();
                                                updateProgress();
                                              },
                                              error: function(jqXHR, textStatus, err){
                                                console.log('error: ' + err);
                                              },
                                              dataType: "json"
                                            });
                                        });
                                        
                                $(nTd).empty();
                                $(nTd).append(a);
                                // removed ability to rerun, doesn't quite work
                                //$(nTd).append(b);
                            }, "mDataProp": "test_id", "bSearchable": false, "sTitle": "", "bSortable": false
                        },
                        { "mDataProp": "test_id", "sTitle": "Test ID","bSearchable": true, "bVisible": true, "sClass": "center" },
                        { "mDataProp": "status", "sTitle": "Status","bSearchable": true, "bVisible": true, "sClass": "center" },
                        { "mDataProp": "git_commit", "sTitle": "Git Commit", "bSearchable": true, "bVisible": true, "sClass": "center" },
                        { "mDataProp": "startTime", "sTitle": "Start Time", "bSearchable": false, "bVisible": true, "sClass": "center" },
                        { "mDataProp": "endTime", "sTitle": "End Time", "bSearchable": false, "bVisible": true, "sClass": "center" },
                        { "mDataProp": "duration", "sTitle": "Duration [s]", "bSearchable": false, "bVisible": true, "sClass": "center" }
                    ]
                });
            }
            
            function updateProgress(){
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/finesse/get_test_progress",
                  success: function (data) {
                    
                    if(data.cancelling){
                        $('#btnCancelCurrent').attr("disabled", true);
                        $('#txtGitVersion').text(data.version);
                        $('#txtStatus').text("CANCELLING AT NEXT CHANCE - " + data.status);
                        $( "#current_test_progress" ).progressbar({ value: data.percent });
                    } else {
                        if(data.running){
                            $('#txtGitVersion').text(data.version);
                            $('#txtStatus').text(data.status);
                            $("#current_test_progress").progressbar({ value: data.percent });
                            $('#btnCancelCurrent').attr("disabled", false);
                            $('#btnCancelCurrent').unbind('click');
                            $('#btnCancelCurrent').click(function(){
                                $('#btnCancelCurrent').attr("disabled", true);
                                cancelTest(data.id);
                            });
                        } else {
                            $('#btnCancelCurrent').attr("disabled", true);
                            $('#txtGitVersion').text("N/A");
                            $('#txtStatus').text("No test running");
                            $( "#current_test_progress" ).progressbar({ value: false });
                        }
                    }
                  },
                  error: function(jqXHR, textStatus, err){
                    console.log('error: ' + err);
                  },
                  dataType: "json"
                });
            }
            
            function cancelTest(id){
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/finesse/cancel_test_" + id,
                  success: function () {
                  },
                  error: function(jqXHR, textStatus, err){
                    console.log('error: ' + err);
                  },
                  dataType: "json"
                });
            }
            
            function startNewTest(){
                opts = $('#leftValues option');
                kats = {};
                
                $('#btnStartTest').attr('disabled',true)
                
                for(var i=0; i<opts.length; i++){
                    suite = opts[i].text.split(" - ")[0]
                    
                    if(!(suite in kats)){
                        kats[suite] = [];
                    }
                    
                    kats[suite].push(opts[i].value);
                }
                
                list = $("#commit_list");
                
                data = JSON.stringify({"git_commit": list.val().reverse(), "kats":kats, "nobuild":$('#chkNoBuild').is(':checked')});
                
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/finesse/start_test",
                  data: data,
                  success: function (data) {
                    updateQueuedTests();
                    updateProgress();
                    $('#btnStartTest').attr('disabled',false)
                  },
                  error: function(jqXHR, textStatus, err){
                    console.log('error: ' + err);
                    $('#btnStartTest').attr('disabled',false)
                  },
                  dataType: "json"
                });
            }
            
            tbl = $('#tblQueuedTests');
            
            function updateQueuedTests(){
                                
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/finesse/get_tests",
                  success: function (data) {
                    tests = data.tests;
                    
                    $('#tblQueuedTests tr:not(:first)')
                        .each(function(){
                            id = $(this).attr("test_id");
                            found = false;
                            
                            for(var i=0; i<tests.length; i++){
                                if(id == tests[i].id){
                                    found = true;
                                    break;
                                } 
                            }
                            
                            if(!found)
                                $(this).remove();
                        
                    });
                    
                    for(var i=0; i<tests.length; i++){
                        if($('#test_row_' + tests[i].id).length == 0){
                            rows = '<tr id="test_row_' + tests[i].id + '" test_id="' + tests[i].id + '">';
                            rows += '<td>'+ tests[i].id + '</td>';
                            rows += '<td>'+ tests[i].queue_time +'</td>';
                            rows += '<td>'+ tests[i].git_commit +'</td>';
                            rows += '<td><input type="button" value="Cancel" onclick="cancelTest(' + tests[i].id + ');"'+ +'</td>';
                            rows += '</tr>';
                            
                            tbl.append(rows);
                        }
                    }
                    
                    
                  },
                  error: function(jqXHR, textStatus, err){
                    console.log('error: ' + err);
                  },
                  dataType: "json"
                });
            }
            

            
            function updateBranches(){
                $("#btnStartTest").attr("disabled", true);
                blist = $("#branch_list");

                $("#commit_list").empty();
                $('#commit_list').attr("disabled", true);
                $("#commit_list").append($('<option>', { value: 0, text: "Loading log enteries, please wait..."}));
                
                blist.empty();
                blist.attr("disabled", true);
                blist.append($('<option>', { value: 0, text: "Loading branches, please wait..."}));
                
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/finesse/get_branches",
                  success: function (data) {
                    
                    branches = data.branches;
                    blist.empty();
                    
                    for(var i=0; i<branches.length; i++){
                        var opt = $('<option>', { value: branches[i], text: branches[i]});
                        
                        if (branches[i] == "develop") {
                            opt.attr("selected","selected");
                        }
                        
                        blist.append(opt);
                    }
                    
                    updateLogEntries();
                  },
                  error: function(jqXHR, textStatus, err){
                    console.log('error: ' + err);
                  },
                  dataType: "json"
                });
            }
            
            function updateLogEntries(){
                $("#btnStartTest").attr("disabled", true);
                list = $("#commit_list");
                
                $.ajax({
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  url: "/finesse/get_100_" + $("#branch_list").val() + "_logs",
                  success: function (data) {
                    logs = data.logs;
                    list.empty();
                    commit_msgs = {};
                    
                    for(var i=0; i<logs.length; i++){
                        commit_msgs[logs[i].commit] = logs[i].message;
                        list.append($('<option>', { value: logs[i].commit, text: logs[i].commit}));
                    }
                    $("#btnStartTest").attr("disabled", false);
                    
                    list.attr("disabled", false);
                    $("#branch_list").attr("disabled", false);
                  },
                  error: function(jqXHR, textStatus, err){
                    console.log('error: ' + err);
                  },
                  dataType: "json"
                });
            }
        </script>
    </body>
</html>