<html>
    <head>
        <!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
    </head>
    <body>
    
        <div>
            <h1>FINESSE Test {{ view_test_id }} View</h1>
            
            <a href="/finesse/view/{{view_test_id}}/build.log">build.log</a> | <a href="/finesse/view/{{view_test_id}}/make.log">make.log</a>| <a href="/finesse/view/{{view_test_id}}/report.log">report.log</a>
            
            <h3>Test Exceptions:</h3>
            <pre>{{ excp_message }}</pre>
            <pre>{{ excp_traceback }}</pre>
            
            <h3>Files that were ERROR</h3>
            <table id="tblResultsERR">
            <thead>
                <td>Suite</td>
                <td>Kat</td>
                <td>Max Rel. Difference</td>
                <td>View .kat</td>
                <td>View .out</td>
                <td>View ref</td>
                <td>View log</td>
                <td>View Diff</td>
                <td>View History
                </thead>
                {% for suite in kats_err.keys() %}
                {% for item in kats_err[suite] %}
                <tr>
                    <td>{{ suite }}</td>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td> 
                    <td><a target="_blank" href="/finesse/kat/{{suite}}/{{item[0]}}">Kat</a></td>
                    <td><a target="_blank" href="/finesse/out/{{view_test_id}}/{{suite}}/{{item[0]}}">Out</a></td>
                    <td><a target="_blank" href="/finesse/ref/{{suite}}/{{item[0]}}">Ref</a></td>
                    <td><a target="_blank" href="/finesse/log/{{view_test_id}}/{{suite}}/{{item[0]}}">Log</a></td>
                    <td><a target="_blank" href="/finesse/view/{{view_test_id}}/diff/{{suite}}/{{item[0]}}">Diff</a></td>
                    <td><a target="_blank" href="/finesse/kat_history/{{suite}}/{{item[0]}}">History</a></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
            <br/>
            <br/>
            <h3>Files that were OK</h3>
            <table id="tblResultsOK">
            <thead>
                <td>Suite</td>
                <td>Kat</td>
                <td>Max Rel. Difference</td>
                <td>View .kat</td>
                <td>View .out</td>
                <td>View ref</td>
                <td>View log</td>
                <td>View Diff</td>
                <td>View History
                </thead>
                {% for suite in kats_ok.keys() %}
                {% for item in kats_ok[suite] %}
                <tr>
                    <td>{{ suite }}</td>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td> 
                    <td><a target="_blank" href="/finesse/kat/{{suite}}/{{item[0]}}">Kat</a></td>
                    <td><a target="_blank" href="/finesse/out/{{view_test_id}}/{{suite}}/{{item[0]}}">Out</a></td>
                    <td><a target="_blank" href="/finesse/ref/{{suite}}/{{item[0]}}">Ref</a></td>
                    <td><a target="_blank" href="/finesse/log/{{view_test_id}}/{{suite}}/{{item[0]}}">Log</a></td>
                    <td><a target="_blank" href="/finesse/view/{{view_test_id}}/diff/{{suite}}/{{item[0]}}">Diff</a></td>
                    <td><a target="_blank" href="/finesse/kat_history/{{suite}}/{{item[0]}}">History</a></td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </body>
    <script type="text/JavaScript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/JavaScript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
    
    <script type="text/JavaScript">
        
        
        $(document).ready(function(){
                    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
                        "num-html-pre": function ( a ) {
                            console.log("1");
                            var x = String(a).replace( /<[\s\S]*?>/g, "" );
                            return parseFloat( x );
                        },
                     
                        "num-html-asc": function ( a, b ) {
                        console.log("2");
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },
                     
                        "num-html-desc": function ( a, b ) {
                        console.log("3");
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    } );
                    gtable = $('#tblResultsOK').dataTable({
                        "iDisplayLength":250,
                        "aLengthMenu": [[-1], ['All']],
                        "aoColumns": [
                            null,
                            null,
                            { "sType": "numeric" },
                            {"bSearchable": false, "bSortable": false},     
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false}
                        ]
                    } );
                    
                    gtable = $('#tblResultsERR').dataTable({
                        "iDisplayLength":250,
                        "aLengthMenu": [[-1], ['All']],
                        "aoColumns": [
                            null,
                            null,
                            { "sType": "numeric" },
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false},
                            {"bSearchable": false, "bSortable": false}
                        ]
                    } );
                    
                
            });
    </script>
</html>